In [1]:
import pandas as pd

In [4]:
# read vine table into csv
vine_df = pd.read_csv("vine_table.csv")
vine_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [16]:
# get anything that has more than 20 total votes
vine_filtered = vine_df[vine_df["total_votes"] >= 20]
vine_filtered.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
83,R2JK5Y8D5MXAGP,1,5,121,N,Y
195,R13W3EMIUV120L,4,288,294,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
296,R1H5Y9Z2DHRNVO,1,4,95,N,Y

In [ ]:
# add a new column to calulate percentage of helpful reviews and then grab anything with a 50+ helpful 
vine_filtered["helpful_percent"] = (vine_filtered["helpful_votes"] / vine_filtered["total_votes"]) * 100

vine_filtered2 = vine_filtered.loc[vine_filtered["helpful_percent"] >= 50]

In [35]:
vine_filtered2.head()

In [26]:
# filter anything that used vine 
vine_yes = vine_filtered2[vine_filtered2["vine"] == "Y"]
vine_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
41600,R3BOQTLUU3Y4L8,4,42,55,Y,N,76.363636
42191,RWF03LXVXC22A,3,396,445,Y,N,88.988764
42845,REPU28WG1VZUE,5,242,281,Y,N,86.120996
43054,R1D6REC9HPJVQY,4,31,41,Y,N,75.609756

In [27]:
# filter anything that didn't use vine 
vine_no = vine_filtered2[vine_filtered2["vine"] == "N"]
vine_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
9,RBEMQ29WJBHYG,5,164,168,N,Y,97.619048
195,R13W3EMIUV120L,4,288,294,N,Y,97.959184
217,R30TJ8POYNVCRE,5,15,21,N,N,71.428571
530,R1LK03P7BCJEJD,1,31,35,N,Y,88.571429
625,RBXUICKGHL685,1,48,52,N,N,92.307692

In [42]:
vine_yes_total = len(vine_yes)
vine_yes_5 = len(vine_yes[vine_yes["star_rating"] == 5])
print(vine_yes_5)

vine_yes_5_percent = (vine_yes_5 / vine_yes_total) * 100

print(f"the number of 5 star reviews was {vine_yes_5} and the percentage was {vine_yes_5_percent}")

1
the number of 5 star reviews was 1 and the percentage was 25.0

In [43]:
vine_no_total = len(vine_no)
vine_no_5 = len(vine_no[vine_no["star_rating"] == 5])
print(vine_no_5)

vine_no_5_percent = (vine_no_5 / vine_no_total) * 100

print(f"the number of 5 star reviews was {vine_no_5} and the percentage was {vine_no_5_percent}")

527
the number of 5 star reviews was 527 and the percentage was 49.53007518796993